<% if message.user == current_user %>
  <% chat_class="right" %>
  <% else %>
  <% chat_class = "left" %>
  <% end %>
  <div id="message-<%= message.id%>" class="message-box <%= chat_class %>">
    <small>
      <strong
        id = "email"
        data-chatroom-subscription-target="messager">
      <%= message.user.email %>
      </strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
  </div>
