<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Stats</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active justify-content-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25" class="img-radius"><%= cl_image_tag current_user.photo.key, class: "avatar-user" %></div>
                                <h6 class="f-w-600"><%= current_user.nickname %></h6>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-500">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">Email</p>
                                        <h6 class="text-muted f-w-300"><%= current_user.email%></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">Location</p>
                                        <h6 class="text-muted f-w-300"></h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-500">Experiences</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">Recent</p>
                                        <h6 class="text-muted f-w-300"><%= @recent_experience.name %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                    <br>
                                    <br>
                                    <button class="btn-profile"> <%= link_to "Edit profile", edit_user_registration_path(current_user) %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






  </div>
  <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    <div class="container-stats">
      <div class="row gy-3">

          <p>You sent <%= @message_count.count  %> messages!</p>
            <div class="col col-12 gap-3 stat-info">
            <% if @message_count.count <= 10  %>
            <img src="https://img.icons8.com/bubbles/100/000000/topic.png"/>
            <% elsif @message_count.count <= 50  %>
              <img src="https://img.icons8.com/bubbles/100/000000/chat.png"/>
            <% else %>
             <img src="https://img.icons8.com/clouds/100/000000/chat.png"/>
            <% end %>
            </div>

      </div>
    </div>

     <div class="container-stats">
      <div class="row gy-3">
          <p>You bookmarked <%= @experience_users.count  %> experiences!</p>
            <div class="col col-12 gap-3 stat-info">
            <% if @experience_users.count <= 5  %>
              <img src="https://img.icons8.com/cute-clipart/100/000000/bookmark-ribbon.png"/>
            <% elsif @experience_users.count <= 10  %>
              <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/100/000000/external-bookmark-ux-and-ui-flatart-icons-lineal-color-flatarticons.png"/>/>
            <% else %>
              <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/100/000000/external-bookmarks-user-interface-flatart-icons-flat-flatarticons.png"/>
            <% end %>
            </div>
      </div>
    </div>

    <div class="container-stats">
      <div class="row gy-3">
          <p>You created <%= @experiences.count  %> experiences!</p>
            <div class="col col-12 gap-3 stat-info">
            <% if @experiences.count <= 3  %>
            <img src="https://img.icons8.com/clouds/100/000000/new.png"/>
            <% elsif @experiences.count <= 7  %>
              <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/100/000000/external-new-computer-programming-icons-flaticons-lineal-color-flat-icons.png"/>
            <% else %>
              <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/100/000000/external-new-e-commerce-flaticons-flat-flat-icons.png"/>
            <% end %>
            </div>
      </div>
    </div>


  </div>
  <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab" style="display: flex">
    <div class="container-stats">
    <div class="row gy-3">
      <h2>Your created experiences</h2>
      <% @experiences.each do |experience| %>
        <%= link_to experience_path(experience) do%>
          <div class="col col-12 gap-3 experience-card">
          <% if experience.photo.attached? %>
           <%= cl_image_tag experience.photo.key, height: 150, width: 200, crop: :fill%>

          <% end %>

            <div class="experience-name-date">
            <h2><%= experience.name %></h2>
            <!--<p class="text-red"><%= "Connect with guests!" %></p>-->
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
