<div class = "show-banner" style="background-image: url('<%= cl_image_path @experience.photo.key, height: 150, width: 200, crop: :fill %>');">
  <div class = "container" style="height: 100%;">
    <div class = "icon-container">
      <i class="fas fa-cocktail" align-items: center></i>
        <p><%= @experience.event_type %></p>
      <!--<p><%= @experience.event_type %></p>-->
    </div>
    <div class = "show-banner-content">
      <h1><%= @experience.name %> </h1>
      <h3> <%= @experience.address%> </h3>
    </div>
  </div>
</div>

<div class="btn-home-page">
  <%= link_to "See all experiences", experiences_path, class:"btn btn-yellow"%>
</div>
