<div class = "show-banner" style="background-image: url('<%= cl_image_path @experience.photo.key, height: 150, width: 200, crop: :fill %>');">
  <div class = "container banner-image" style="height: 100%;">
    <div class = "show-banner-content">
      <h1><%= @experience.name %> </h1>
      <h3> <%= @experience.address%> </h3>
    </div>
  </div>
    <div class = "icon-container">
      <i class="fas fa-utensils" align-items: center></i>
        <p><%= @experience.event_type %></p>
    </div>
    <div class="btn-bookmark">
      <%= button_to experience_experience_users_path(@experience) do%>
      <i class="far fa-heart"></i>
      <% end %>
    </div>
</div>

<div class="container d-flex justify-content-center">
<div class="col-md-12 col-xs-12 col-md-offset-2">
  <div class="panel" id="chat">
    <div class="panel-body"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >
      <h1 class="hidden"
      data-chatroom-subscription-target="current">
      <%= current_user.email %></h1>
      <div class="messages chat-body"
        data-chatroom-subscription-target="messages">
        <% @experience.chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
    </div>
      <div class="message">
        <%= simple_form_for [@chatroom, @message],
          remote: true,
          url: experience_chatroom_messages_path(@experience, @chatroom),
          method: :post,
          html: {data: {chatroom_subscription_target: "form"}, class: "d-flex"} do |f|
        %>
          <%= f.input :content,
            label: false,
            input_html: { autocomplete: 'off' },
            placeholder: "Message ##{@chatroom.name}",
            wrapper_html: {class: "text-message"}
          %>
          <%= f.submit "Send", class: "btn btn-red"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
